body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto";
}

.font-weight-bold {
  font-weight: 700 ;
}

.rectangle {
  height: 1px;
  width: 800px;
  background-color: #ffc107;
}

.topnav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover 
  .topnav a:hover {
    background-color: #ddd;
    color: white;
  }*/
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }



  .skorcard{
    position: absolute;
    top: 60px;
    width: 95%;
    left: 0;
}
.cards{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    background: rgb(222, 217, 217);
}
.cards .card{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
   
    
}
.card-content{
    text-align: justify;
}
.card-name{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.number{
    font-size: 30px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}