h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}
.judul{
  font-size: 18px !important;
}
b{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 12;
}

.font-weight-bold {
  font-weight: 700 ;
}
.kotak {
  padding-top: 1%;
  margin-bottom: -2%;
}

/*========================================================= HEADER ========================================*/
.image-responsive{
  width: 100%;
  height: auto;
}
.topnav-container {
    background-color: white;
    overflow: hidden;

  }

.navbar-nav .nav-link:hover {
    background-color: transparent !important;
    color: inherit !important;
    pointer-events: none;
}

.nav-text-disabled .nav-link_judul:hover  {
  color: black !important;
}
  
  /* Style the links inside the navigation bar */
  .topnav-a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav-special {
    float: left;
    color: black;
    text-align: left;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav-logo {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
  }
  /* Change the color of links on hover */
  .topnav-hover:hover {
    background-color: #ddd;
    color: black;
    border-radius: 25px;
  }
  /*.topnav a.no-hover:hover {
    background-color: white;
    color: initial;  atau warna teks yang diinginkan 
  
}*/
  /* Add a color to the active/current link */
  .topnav-a-active {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    background-color: #ffc107;
    color: white;
    border-radius: 25px;
  }

  .topnav-button-position {
    margin-top: 3%;
    margin-bottom: 3em;
  }

/*========================================================= CONTAINER ========================================*/
.header-container {
  display:flex;
  flex-direction: column;
  overflow: hidden;
  padding:0 10px;
  margin-bottom: 2em;
}
.header-cust {
  padding: 10px;
  text-align: center;
}

/*========================================================= SECTION CSS ========================================*/
.sections {
  display: flex;
  flex-wrap: wrap;
  
}
.sections > div {
  margin-right: 2%;
  margin-left: 1%;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  align-content: center;
}

/*========================================================= BUTTON CSS ========================================*/
.button{
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 12px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  border-color: white;
}

.button:hover {
  background-color: #04AA6D; 
  color: white;
}

/*========================================================= DROP DOWN CSS ========================================*/
select {
  /* Reset Select */
  appearance: none;
  outline: 20px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  color: black;
  padding-left: 20px;
  background-color: #efeded;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 17em;
  height: 3.5em;
  border-radius: .25em;
  overflow: hidden;
  margin-top: 5px;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: black;
  background-color: #cdcdcd;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

/*========================================================= SLIDER ========================================*/
.slider-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  
}
.slider-items {
  margin-top: -10px;
  text-align: left;
  color: black;
}

.slider-width {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f39c12;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f39c12;
  cursor: pointer;
}

/*========================================================= SLIDER ========================================*/
.skorcard{
  position: flex;
  width: 100%;
  left: 0;
}
.cards{
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Menggunakan auto-fit untuk menyesuaikan jumlah kolom dan minmax untuk menentukan lebar minimum dan maksimum kartu */
  grid-gap: 20px; /* Mengurangi jarak antara kartu */
  background: #f3f3f3;
}
.cards .tampilan-card{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}
.card-content{
  text-align: justify;
}
.card-name{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.number{
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}


/*=========================================================  ========================================*/
.chartContainer{
  display: flex;
  flex: 1;
}
.left {
  padding: 20px;
  flex: 1;
}
.middle {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

canvas {
  width: 100%;
  height: auto;
}

.line-chart{
  width: 100%;
  margin-left: 20px;
}

/*---------------------------------MODAL-----------------------------------*/
.containerModal {
  margin: 20px;
}
.h1-modal {
  text-align: center;
}
.modal-dialog {
  max-width: 90%; /* Set your desired width here */
}
#dataTable {
  width: 100% !important; /* Ensure the table takes full width of the modal */
}

@media screen and (max-width: 768px) {
  /* Ketika lebar layar kurang dari atau sama dengan 768px */
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Menyesuaikan jumlah kolom dan lebar kartu */
    grid-gap: 10px; /* Mengurangi jarak antara kartu */
  }

  .topnav-logo {
    display: none;
  }
}

